/*顶部搜索栏*/
header {
    height: .5rem;
    background-color: #CC4134;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    padding-right: .16rem;
    position: relative;
}

header > .logo {
    width: .66rem;
    height: .25rem;
    margin: 0 .16rem;
}

header > .search {
    width: .18rem;
    height: .18rem;
    position: absolute;
    left: 1.06rem;
}

header > input::-webkit-input-placeholder {
    color: #bababa;
    font-weight: 300;
}

input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #bababa;
    font-weight: 300;
}

input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #bababa;
    font-weight: 300;
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #bababa;
    font-weight: 300;
}

header > input {
    outline: none;
    flex: 1;
    height: .28rem;
    text-indent: 3em;
    border: none;
    border-radius: .02rem;

}

.topHeader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 998;
}

/*顶部菜单*/
.menu {
    height: .45rem;
    border-bottom: 1px solid #f3f3f3;
    font-size: .15rem;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    background-color: white;
}

.menu .select {
    width: .2rem;
    height: .2rem;
    transform: rotateZ(0deg);
}

.menu .overflowBox {
    width: 88%;
    height: .45rem;
    overflow: hidden;
    margin: 0 .05rem;
}

.menu .overflowBox ul {
    width: 100%;
    height: .53rem;
    color: #747373;
    display: -webkit-flex;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.menu .overflowBox ul li {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    white-space: nowrap;
    width: auto;
    margin: -.08rem .1rem 0;
}

.menu .overflowBox ul li a {
    color: #747373;
}

.menu .overflowBox ul li.active {
    color: #CC4134;
    position: relative;
}

.menu .overflowBox ul .active a {
    color: #CC4134;
}

.menu .overflowBox ul li.active::after {
    display: block;
    content: "";
    height: .03rem;
    width: 50%;
    margin: 0 auto;
    background-color: #CC4134;
    position: absolute;
    left: 25%;
    bottom: .08rem;
    border-radius: .03rem;
}

.menu .expand {
    height: .2rem;
}

.menu .select.in_transform {
    transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg); /* IE9 */
    -moz-transform: rotateZ(180deg); /* Firefox */
    -webkit-transform: rotateZ(180deg); /* Safari和Chrome */
    -o-transform: rotateZ(180deg); /* Opera */
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out; /*Firefox 4 */
    -webkit-transition: all 0.5s ease-in-out; /* Safari和Chrome */
    -o-transition: all 0.5s ease-in-out; /* Opera */
}

.menu .select.out_transform {
    transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg); /* IE9 */
    -moz-transform: rotateZ(0deg); /* Firefox */
    -webkit-transform: rotateZ(0deg); /* Safari和Chrome */
    -o-transform: rotateZ(0deg); /* Opera */
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out; /*Firefox 4 */
    -webkit-transition: all 0.5s ease-in-out; /* Safari和Chrome */
    -o-transition: all 0.5s ease-in-out; /* Opera */
}

.openMenu .expand {
    align-self: flex-end;
    display: flex;
    margin-right: .15rem;
}

.menu .innerBox {
    width: 100%;
    padding: .15rem .075rem;
}

.openMenu .innerBox ul {
    display: flex;
    flex-wrap: wrap;
}

.openMenu .innerBox ul li {
    width: .75rem;
    height: .3rem;
    margin: .075rem;
    border: 1px solid #979797;
    text-align: center;
    line-height: .3rem;
    position: relative;
}

.openMenu .innerBox ul li > a {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
}

.openMenu a, .openMenu {
    color: #717171 !important;
}

.openMenu {
    flex-direction: column;
    font-weight: 400;
}

.openMenu .font {
    margin-right: .095rem;
}

.openMenu .innerBox .active {
    border: 1px solid #CC4134;
}

.openMenu .innerBox .active a {
    color: #CC4134!important;
}

/*搜索页*/
.searchPage {
    width: 100%;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 999;
    right: -100%;
}

.searchPage .searchArea {
    position: relative;
    display: flex;
    align-items: center;
    height: .5rem;
    padding: 5px 10px;
    border-bottom: 1px solid #e5e5e5;
}

.searchPage .searchArea .icon {
    width: .14rem;
    height: .14rem;
    position: absolute;
    left: .2rem;
}

.searchPage .searchArea .innerInput {
    width: 88%;
    background-color: #e5e5e5;
    border: none;
    outline: none;
    height: .3rem;
    /*border-radius: 20px;*/
    text-indent: 3em;
}

.searchPage .searchArea > span {
    font-size: .16rem;
    margin-left: 7px;
}
