<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <title><?= $menu['title'] ?: $site['title'] ?></title>
    <meta name="keywords" content="{$menu['keyword']}"/>
    <meta name="description" content="{$menu['description']}"/>
    <link rel="stylesheet" href="//res.cjyun.org/t/site/10008/6fd52b21978e4534397ad7bea6ec6b0d/assets/newHome/css/menu.css?20210910"/>
    <link rel="stylesheet" href="//res.cjyun.org/t/site/10008/6fd52b21978e4534397ad7bea6ec6b0d/assets/newHome/css/laypage.css"/>
    <link rel="stylesheet" href="//res.cjyun.org/t/site/10008/6fd52b21978e4534397ad7bea6ec6b0d/assets/newHome/css/index.css?202109239999823"/>
    <link rel="stylesheet" href="//res.cjyun.org/t/site/10008/6fd52b21978e4534397ad7bea6ec6b0d/assets/newHome/css/swiper-bundle.min.css">
    <script type="text/javascript" src="//res.cjyun.org/assets/js/jquery.js"></script>
    <script type="text/javascript" src="//res.cjyun.org/t/site/10008/6fd52b21978e4534397ad7bea6ec6b0d/assets/newHome/js/base.js"></script>
    <script src="//res.cjyun.org/t/site/10008/6fd52b21978e4534397ad7bea6ec6b0d/assets/newHome/js/swiper-bundle.min.js"></script>
    <script src="//res.cjyun.org/t/site/10008/6fd52b21978e4534397ad7bea6ec6b0d/assets/newHome/js/echo.min.js"></script>
    <script src="//res.cjyun.org/t/site/10008/6fd52b21978e4534397ad7bea6ec6b0d/assets/newHome/js/vue.js"></script>
    <script src="//res.cjyun.org/t/site/10008/6fd52b21978e4534397ad7bea6ec6b0d/assets/newHome/js/laypage.js"></script>
</head>
<body>
<div id="app">
    <div class="searchPage">
        <div class="searchArea">
            <img class="icon" src="{$assets}newHome/images/search.png" alt="">
            <input type="text" class="innerInput" placeholder="请输入关键字" v-model="searchVal" @keyup.enter="searchEnter">
            <span class="cancel" @click="goBack">取消</span>
        </div>
    </div>
    <div class="topHeader">
        <!--    头部搜索栏-->
        <header>
            <img class="logo" src="{$assets}newHome/images/logo.png" alt="">
            <img class="search" src="{$assets}newHome/images/search.png" alt="">
            <input class="searchInput" placeholder="输入你想搜索的内容" @click="openSearchPage" readonly>
        </header>
        <!--    菜单栏-->
        <div :class=" menuListOpen?'menu openMenu':'menu'" v-cloak>
            <div class="overflowBox" v-show="!menuListOpen">
                <ul>
                    <li :class="item.className" v-for="item in menuList"><a :href=`${item.href}`>{{item.title}}</a></li>
                </ul>
            </div>
            <div class="innerBox" v-show="menuListOpen">
                <ul>
                    <li v-for="item in menuList" :class="item.className">
                        <a :href=`${item.href}`>
                            {{item.title}}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="expand" @click="openMenu">
                <span class="font" v-show="menuListOpen">收起</span>
                <img id="select" :class="menuListOpen?'in_transform select':'out_transform select'" src="{$assets}newHome/images/select.png">
            </div>
        </div>
    </div>
    <!-- {if empty($_GET[listid]) } -->
    <div class="g-container">
        <!--    顶部轮播图-->
        <div class="topSlide">
            <div class="swiper-container top-swiper">
                <div class="swiper-wrapper">
                    <!—# 头条_大图 #—>
                    {list id="86" page="1" pagesize="6"}
                    <a class="swiper-slide" href="{$r['url']}" style="background-image: url({thumb($r['thumb'])})">
                        <div class="shadow" style="height:.7rem;">
                            <p>{$r['title']}</p>
                        </div>
                    </a>
                    {/list}
                </div>
                <!-- 如果需要分页器 -->
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <!--    要闻-->
        <div class="important-news">
            <span class="title">要闻</span>
            <span class="lookMore" @click="lookMore('68')">查看更多>></span>
            <ul class="newsList">
                <!—# 头条_文章 #—>
                {list id="68" page="1" pagesize="3"}
                <div class="hide"><?=json_encode($r)?></div>
                <li>
                    <a href="{$r['url']}">
                        <p style="margin-bottom:.04rem;">{$r['title']}</p>
                        <span class="time2Text time">{$r['time']}</span>
                    </a>
                </li>
                {/list}
            </ul>
        </div>
        <!--    推荐-->
        <div class="recommend">
            <div class="panel-box">
                <div class="panel-top">
                    <span>推荐</span>
                    <span @click="lookMore('2642')">查看更多>></span>
                </div>
                <div class="swiper-container recommend-swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <ul>
                                <!—# 推荐频道主列 #—>
                                {list id="2642" page="1" pagesize="5"}
                                <li>
                                    <a href="{$r['url']}">
                                        <span class="point">·</span>
                                        <span class="title">{$r['title']}</span>
                                    </a>
                                </li>
                                {/list}
                            </ul>
                        </div>
                        <div class="swiper-slide">
                            <ul>
                                <!—# 推荐频道主列 #—>
                                {list id="2642" page="2" pagesize="5"}
                                <li>
                                    <a href="{$r['url']}">
                                        <span class="point">·</span>
                                        <span class="title">{$r['title']}</span>
                                    </a>
                                </li>
                                {/list}
                            </ul>
                        </div>
                        <div class="swiper-slide">
                            <ul>
                                <!—# 民生动态 #—>
                                {list id="2761" page="1" pagesize="5"}
                                <li>
                                    <a href="{$r['url']}">
                                        <span class="point">·</span>
                                        <span class="title">{$r['title']}</span>
                                    </a>
                                </li>
                                {/list}
                            </ul>
                        </div>
                    </div>
                    <!-- 如果需要分页器 -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
        <!--    直播-->
        <div class="live">
            <div class="panel-top">
                <div>
                    <img src="{$assets}newHome/images/live.png" alt="">
                    <span style="color: black;">直播</span>
                </div>
                <span @click="lookMore('1342')">查看更多>></span>
            </div>
            <div class="overflowBox">
                <ul>
                    <!—# 直播-文章 #—>
                    {list id="1342" page="1" pagesize="10"}
                    <a href="{$r['url']}">
                        <li>
                            <img class="play" src="{$assets}newHome/images/play.png" alt="">
                            <div class="shadow"></div>
                            <p>{$r['title']}</p>
                            <img class="images" src="{$assets}newHome/images/blank.gif" data-echo="{thumb($r['thumb'])}" alt="">
                        </li>
                    </a>
                    {/list}
                </ul>
            </div>
        </div>
        <!--    活动专区-->
        <div class="society">
            <div class="panel-top">
                <div>
                    <img src="{$assets}newHome/images/society.png" alt="">
                    <span style="color: black;">活动专区</span>
                </div>
                <span @click="lookMore('2761')">查看更多>></span>
            </div>
            <ul class="threePic">
                <!—# 民生动态 #—>
                {list id="2761" page="1" pagesize="3"}
                <li style="background-image: url('{thumb($r['thumb'])}')">
                    <a class="list-a" href="{$r['url']}"></a>
                    <div class="shadow" style="height:.55rem;">
                        <p>{$r['title']}</p>
                    </div>
                </li>
                {/list}
            </ul>
        </div>
        <!--    今日云上-->
        <div class="hot-recommends">
            <span class="title">今日云上</span>
            <span class="lookMore" @click="lookMore('2746')">查看更多>></span>
            <ul class="newsList">
                {list id="2746" page="1" pagesize="12" offset="1" limit="5"}
                <li>
                    <a href="{$r['url']}">
                        <p>{$r['title']}</p>
                    </a>
                </li>
                {/list}
            </ul>
        </div>

        <!--    长江评论-->
        <!--        <div class="river-comment">-->
        <!--            <div class="panel-top">-->
        <!--                <div>-->
        <!--                    <img src="{$assets}newHome/images/river-comment.png" alt="">-->
        <!--                    <span style="color: black;">长江评论</span>-->
        <!--                </div>-->
        <!--                <span @click="lookMore('2410')">查看更多>></span>-->
        <!--            </div>-->
        <!--            <div class="overflowBox">-->
        <!--                <ul>-->
        <!--                    <!—# 长江评论 #—>-->
        <!--                    {list id="2410" page="1" pagesize="12" offset="1" limit="3"}-->
        <!--                    <a href="{$r['url']}">-->
        <!--                        <li>-->
        <!--                            <p>{$r['title']}</p>-->
        <!--                            <img class="images" src="{$assets}newHome/images/blank.gif" data-echo="{thumb($r['thumb'])}" alt="">-->
        <!--                        </li>-->
        <!--                    </a>-->
        <!--                    {/list}-->
        <!--                </ul>-->
        <!--            </div>-->
        <!--        </div>-->

        <!--    专题-->
        <div class="special">
            <div class="panel-top">
                <div>
                    <img src="{$assets}newHome/images/special.png" alt="">
                    <span style="color: black;">专题</span>
                </div>
                <span @click="lookMore('40')">查看更多>></span>
            </div>
            <div class="specialContainer">
                <div class="swiper-container special-swiper">
                    <div class="swiper-wrapper">
                        <!—# 网台_顶部幻灯 #—>
                        {list id="40" page="1" pagesize="5"}
                        <a class="swiper-slide" href="{$r['url']}" style="background-image: url('{thumb($r['thumb'])}">
                            <div class="shadow" style="height:.55rem;">
                                <p>{$r['title']}</p>
                            </div>
                        </a>
                        {/list}
                    </div>
                    <!-- 如果需要分页器 -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>

        <!--    健康-->
        <div class="contentList">
            <div class="panel-top">
                <div>
                    <img src="{$assets}newHome/images/health.png" alt="">
                    <span style="color: black;">健康</span>
                </div>
                <span @click="lookMore('2460')">查看更多>></span>
            </div>
            <ul>
                {list id="2460" page="1" pagesize="3"}
                <li class="list">
                    <a class="list-a" href="{$r['url']}"></a>
                    <!-- {if !empty($r['thumb'])} -->
                    <img src="{$assets}newHome/images/blank.gif" data-echo="{thumb($r['thumb'])}" alt="">
                    <!-- {/if} -->
                    <div class="title">
                        <p>{$r['title']}</p>
                        <span class="time2Text">{$r['time']}</span>
                    </div>
                </li>
                {/list}
            </ul>
        </div>
        <!--    教育-->
        <div class="contentList">
            <div class="panel-top">
                <div>
                    <img src="{$assets}newHome/images/education.png" alt="">
                    <span style="color: black;">教育</span>
                </div>
                <span @click="lookMore('2590')">查看更多>></span>
            </div>
            <ul>
                {list id="2590" page="1" pagesize="3"}
                <li class="list">
                    <a class="list-a" href="{$r['url']}"></a>
                    <!-- {if !empty($r['thumb'])} -->
                    <img src="{$assets}newHome/images/blank.gif" data-echo="{thumb($r['thumb'])}" alt="">
                    <!-- {/if} -->
                    <div class="title">
                        <p>{$r['title']}</p>
                        <span class="time2Text">{$r['time']}</span>
                    </div>
                </li>
                {/list}
            </ul>
        </div>
        <!--    文旅-->
        <div class="contentList">
            <div class="panel-top">
                <div>
                    <img src="{$assets}newHome/images/travel.png" alt="">
                    <span style="color: black;">文旅</span>
                </div>
                <span @click="lookMore('2633')">查看更多>></span>
            </div>
            <ul>
                {list id="2633" page="1" pagesize="3"}
                <li class="list">
                    <a class="list-a" href="{$r['url']}"></a>
                    <!-- {if !empty($r['thumb'])} -->
                    <img src="{$assets}newHome/images/blank.gif" data-echo="{thumb($r['thumb'])}" alt="">
                    <!-- {/if} -->
                    <div class="title">
                        <p>{$r['title']}</p>
                        <span class="time2Text">{$r['time']}</span>
                    </div>
                </li>
                {/list}
            </ul>
        </div>
        <!--    乡村-->
        <div class="contentList">
            <div class="panel-top">
                <div>
                    <img src="{$assets}newHome/images/village.png" alt="">
                    <span style="color: black;">乡村</span>
                </div>
                <span @click="lookMore('2522')">查看更多>></span>
            </div>
            <ul>
                {list id="2522" page="1" pagesize="3"}
                <li class="list">
                    <a class="list-a" href="{$r['url']}"></a>
                    <!-- {if !empty($r['thumb'])} -->
                    <img src="{$assets}newHome/images/blank.gif" data-echo="{thumb($r['thumb'])}" alt="">
                    <!-- {/if} -->
                    <div class="title">
                        <p>{$r['title']}</p>
                        <span class="time2Text">{$r['time']}</span>
                    </div>
                </li>
                {/list}
            </ul>
        </div>
        <!--    社区-->
        <div class="contentList">
            <div class="panel-top">
                <div>
                    <img src="{$assets}newHome/images/community.png" alt="">
                    <span style="color: black;">社区</span>
                </div>
                <span @click="lookMore('2535')">查看更多>></span>
            </div>
            <ul>
                {list id="2535" page="1" pagesize="3"}
                <li class="list">
                    <a class="list-a" href="{$r['url']}"></a>
                    <!-- {if !empty($r['thumb'])} -->
                    <img src="{$assets}newHome/images/blank.gif" data-echo="{thumb($r['thumb'])}" alt="">
                    <!-- {/if} -->
                    <div class="title">
                        <p>{$r['title']}</p>
                        <span class="time2Text">{$r['time']}</span>
                    </div>
                </li>
                {/list}
            </ul>
        </div>
        <!--    出行-->
        <div class="contentList">
            <div class="panel-top">
                <div>
                    <img src="{$assets}newHome/images/trip.png" alt="">
                    <span style="color: black;">出行</span>
                </div>
                <span @click="lookMore('2603')">查看更多>></span>
            </div>
            <ul>
                {list id="2603" page="1" pagesize="3"}
                <li class="list">
                    <a class="list-a" href="{$r['url']}"></a>
                    <!-- {if !empty($r['thumb'])} -->
                    <img src="{$assets}newHome/images/blank.gif" data-echo="{thumb($r['thumb'])}" alt="">
                    <!-- {/if} -->
                    <div class="title">
                        <p>{$r['title']}</p>
                        <span class="time2Text">{$r['time']}</span>
                    </div>
                </li>
                {/list}
            </ul>
        </div>
        <!--    音乐-->
        <div class="contentList">
            <div class="panel-top">
                <div>
                    <img src="{$assets}newHome/images/music.png" alt="">
                    <span style="color: black;">音乐</span>
                </div>
                <span @click="lookMore('2857')">查看更多>></span>
            </div>
            <ul>
                {list id="2857" page="1" pagesize="3"}
                <li class="list">
                    <a class="list-a" href="{$r['url']}"></a>
                    <!-- {if !empty($r['thumb'])} -->
                    <img src="{$assets}newHome/images/blank.gif" data-echo="{thumb($r['thumb'])}" alt="">
                    <!-- {/if} -->
                    <div class="title">
                        <p>{$r['title']}</p>
                        <span class="time2Text">{$r['time']}</span>
                    </div>
                </li>
                {/list}
            </ul>
        </div>
        <!--    老友-->
        <div class="contentList lad">
            <div class="panel-top">
                <div>
                    <img src="{$assets}newHome/images/lad.png" alt="">
                    <span style="color: black;">老友</span>
                </div>
                <span @click="lookMore('2867')">查看更多>></span>
            </div>
            <ul>
                {list id="2867" page="1" pagesize="3"}
                <li class="list">
                    <a class="list-a" href="{$r['url']}"></a>
                    <!-- {if !empty($r['thumb'])} -->
                    <img src="{$assets}newHome/images/blank.gif" data-echo="{thumb($r['thumb'])}" alt="">
                    <!-- {/if} -->
                    <div class="title">
                        <p>{$r['title']}</p>
                        <span class="time2Text">{$r['time']}</span>
                    </div>
                </li>
                {/list}
            </ul>
        </div>

        <!--    更多-->
        <div class="contentList pinterest">
            <div class="panel-top">
                <div>
                    <img src="{$assets}newHome/images/pinterest.png" alt="">
                    <span style="color: black;">更多</span>
                </div>
            </div>
            <ul>
                {list id="2640" page="1" pagesize="10"}
                <li class="list">
                    <a class="list-a" href="{$r['url']}"></a>
                    <!-- {if !empty($r['thumb'])} -->
                    <img src="{$assets}newHome/images/blank.gif" data-echo="{thumb($r['thumb'])}" alt="">
                    <!-- {/if} -->
                    <div class="title">
                        <p>{$r['title']}</p>
                        <span class="time2Text">{$r['time']}</span>
                    </div>
                </li>
                {/list}
            </ul>
        </div>
    </div>
    <!-- {else} -->
    <div class="contentList menuTemp">
        <!-- {if !empty($_GET[bannerid]) } -->
        <div class="topSlide">
            <div class="swiper-container top-swiper">
                <div class="swiper-wrapper">
                    <!—# 大图 #—>
                    {list id="$_GET[bannerid]"" page="1" pagesize="5"}
                    <a class="swiper-slide" href="{$r['url']}" style="background-image: url({thumb($r['thumb'])})">
                        <div class="shadow" style="height:.7rem;">
                            <p>{$r['title']}</p>
                        </div>
                    </a>
                    {/list}
                </div>
                <!-- 如果需要分页器 -->
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <!--{/if} -->
        <ul>
            {list id="$_GET[listid]"" page="$_GET[page]?$_GET[page]:1" pagesize="50"}
            <div class="total" style="display:none"><?=json_encode($total)?></div>
            <li class="list">
                <a class="list-a" href="{$r['url']}"></a>
                <!-- {if !empty($r['thumb'])} -->
                <img src="{$assets}newHome/images/blank.gif" data-echo="{thumb($r['thumb'])}" alt="">
                <!-- {/if} -->
                <div class="title">
                    <p>{$r['title']}</p>
                    <span class="time2Text">{$r['time']}</span>
                </div>
            </li>
            {/list}
        </ul>
    </div>
    <div id="pages" style="margin-top:15px;"></div>
    <!-- {/if} -->
    <!--    引导下载-->
    <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.wondertek.cj_yun">
        <img class="downloadImg" src="http://img.cjyun.org/a/thumb/10008/201906/75ffd65e98390946bc9dd795be1a3c99.jpeg!w640_h128.jpeg" alt="">
    </a>
    <!--返回顶部-->
    <div class="toTop">
        <img src="{$assets}newHome/images/toTop.png" alt="" width="100" height="100">
    </div>

</div>

</body>
<script>
    var app = new Vue({
        el: '#app',
        data() {
            return {
                searchVal: "",
                menuListId: "",
                total: "",
                menuListOpen: false,
                menuList: [
                    {className: "shouye", listid: "index", href: "/testindex", title: "首页"},
                    {className: "zhibo", listid: "1342", href: "?listid=1342&bannerid=2413", title: "直播"},
                    // {className: "zhengqing", listid: "556", href: "?listid=556&bannerid=574", title: "政情"},
                    // {className: "sixiang", listid: "2658", href: "?listid=2658&bannerid=170", title: "思享"},
                    // {className: "shiping", listid: "176", href: "?listid=176&bannerid=175", title: "视频"},
                    {className: "hubei", listid: "2362", href: "?listid=2362&bannerid=2361", title: "湖北"},
                    // {className: "guoji", listid: "73", href: "?listid=73&bannerid=72", title: "国际"},
                    // {className: "hubeixinwen", listid: "2215", href: "?listid=2215&bannerid=2214", title: "湖北新闻"},
                    {className: "jiankang", listid: "2460", href: "?listid=2460&bannerid=2484", title: "健康"},
                    {className: "jiaoyu", listid: "2590", href: "?listid=2590&bannerid=2608", title: "教育"},
                    {className: "wenlv", listid: "2633", href: "?listid=2633&bannerid=2635", title: "文旅"},
                    {className: "xiangcun", listid: "2522", href: "?listid=2522&bannerid=2612", title: "乡村"},
                    {className: "shequ", listid: "2535", href: "?listid=2535&bannerid=2625", title: "社区"},
                    {className: "chuxing", listid: "2603", href: "?listid=2603&bannerid=2604", title: "出行"},
                    {className: "yingyue", listid: "2857", href: "?listid=2857&bannerid=2671", title: "音乐"},
                    {className: "laoyou", listid: "2867", href: "?listid=2867&bannerid=2643", title: "老友"},
                ]
            }
        },
        created: function () {
            this.menuListId = this.getQueryVariable("listid")
        },
        mounted: function () {
            this.initSwiper()
            this.menuActive()
            this.echoInit()
            this.toTop()
            this.initPage()
            var _this = this
            $(".time2Text").each(function () {
                var time = $(this).text().replace(/-/g, '/');
                $(this).text(_this.before_time(new Date(time).getTime() / 1000));
            })
            this.menuList.forEach(i => {
                if (!this.menuListId) {
                    $(".shouye").addClass("active")
                    // } else if (this.menuListId === "zhengqing") {
                    //     $(".zhengqing").addClass("active")
                } else {
                    if (i.listid === this.menuListId) {
                        $(`.${i.className}`).addClass("active")
                        var dom = $(".menu .overflowBox .active")[0]
                        $(".menu .overflowBox ul").animate({scrollLeft: dom.offsetLeft - 20})
                    }
                }
            })

        },
        watch: {},
        methods: {
            //菜单切换
            menuActive() {
                $('.menu li').each(function () {
                    $(this).on('click', function () {
                        $(this).siblings('li').removeClass('active');
                        $(this).addClass('active');
                    })
                })
            },
            //初始化轮播
            initSwiper() {
                //顶部轮播
                let topSwiper = new Swiper('.top-swiper', {
                    loop: true,
                    observer: true,
                    observeParents: true,//修改swiper的父元素时，自动初始化swiper
                    autoplay: {
                        disableOnInteraction: false,   // 手动滑动后继续自动播放
                    },
                    // 如果需要分页器
                    pagination: {
                        el: '.swiper-pagination',
                    }
                });
                //推荐轮播
                let recommendSwiper = new Swiper('.recommend-swiper', {
                    loop: true,
                    observer: true,
                    observeParents: true,//修改swiper的父元素时，自动初始化swiper
                    autoplay: {
                        disableOnInteraction: false,   // 手动滑动后继续自动播放
                        delay: 3000
                    },
                    // 如果需要分页器
                    pagination: {
                        el: '.swiper-pagination',
                    }
                });
                //专题轮播
                let specialSwiper = new Swiper('.special-swiper', {
                    loop: true,
                    observer: true,
                    observeParents: true,//修改swiper的父元素时，自动初始化swiper
                    autoplay: {
                        disableOnInteraction: false,   // 手动滑动后继续自动播放
                        delay: 1500
                    },
                    // 如果需要分页器
                    pagination: {
                        el: '.swiper-pagination',
                    }
                });

            },
            //搜索页
            openSearchPage() {
                $(".g-container").addClass("banScroll")
                $(".searchPage").animate({"right": "0"})
                $(".innerInput").focus()
            },
            //取消
            goBack() {
                this.searchVal = ""
                $(".g-container").removeClass("banScroll")
                $(".searchPage").animate({"right": "-100%"})
            },
            //搜索跳转
            searchEnter() {
                location.href = `//m.hbtv.com.cn/s?wd=${this.searchVal}`
            },
            //处理时间
            before_time(dateTimeStamp) {
                var minute = 1000 * 60; //把分，时，天，周，半个月，一个月用毫秒表示
                var hour = minute * 60;
                var day = hour * 24;
                var week = day * 7;
                var halfamonth = day * 15;
                var month = day * 30;
                var year = day * 365;
                var now = new Date().getTime(); //获取当前时间毫秒
                var diffValue = now - dateTimeStamp * 1000; //时间差
                if (diffValue < 0) {
                    return;
                }
                var minC = diffValue / minute; //计算时间差的分，时，天，周，月
                var hourC = diffValue / hour;
                var dayC = diffValue / day;
                var weekC = diffValue / week;
                var monthC = diffValue / month;
                var yearC = diffValue / year;
                var result
                if (dayC >= 1 && dayC <= 7) {
                    result = " " + parseInt(dayC) + "天前";
                } else if (hourC >= 1 && hourC <= 24) {
                    result = " " + parseInt(hourC) + "小时前";
                } else if (minC >= 1 && minC <= 60) {
                    result = " " + parseInt(minC) + "分钟前";
                } else if (diffValue >= 0 && diffValue <= minute) {
                    result = "刚刚";
                } else {
                    var datetime = new Date();
                    datetime.setTime(dateTimeStamp * 1000);
                    var Nyear = datetime.getFullYear();
                    var Nmonth =
                        datetime.getMonth() + 1 < 10
                            ? "0" + (datetime.getMonth() + 1)
                            : datetime.getMonth() + 1;
                    var Ndate =
                        datetime.getDate() < 10
                            ? "0" + datetime.getDate()
                            : datetime.getDate();
                    var Nhour =
                        datetime.getHours() < 10
                            ? "0" + datetime.getHours()
                            : datetime.getHours();
                    var Nminute =
                        datetime.getMinutes() < 10
                            ? "0" + datetime.getMinutes()
                            : datetime.getMinutes();
                    var Nsecond =
                        datetime.getSeconds() < 10
                            ? "0" + datetime.getSeconds()
                            : datetime.getSeconds();
                    result = Nyear + "-" + Nmonth + "-" + Ndate;
                }
                return result;
            },
            echoInit() {
                Echo.init({
                    offset: 0,
                    throttle: 0
                });
            },
            openMenu() {
                this.menuListOpen = !this.menuListOpen
                if (this.menuListOpen) {
                    $(".menu").animate({"height": "2rem"})
                } else {
                    $(".menu").animate({"height": ".45rem"})
                }
            },
            getQueryVariable(variable) {
                var query = window.location.search.substring(1);
                var vars = query.split("&");
                for (var i = 0; i < vars.length; i++) {
                    var pair = vars[i].split("=");
                    if (pair[0] == variable) {
                        return pair[1];
                    }
                }
                return false;
            },
            lookMore(id) {
                location.href = `?listid=${id}`
            },
            toTop() {
                $(window).scroll(function () {
                    var $scrollTop = document.documentElement.scrollTop || window.pageYOffset || document.body.scrollTop; //兼容浏览器
                    if ($scrollTop > 100) { //滚动高度可调
                        $(".toTop").show();
                    } else {
                        $(".toTop").hide();
                    }
                    ;
                })
                $(".toTop").on("click", function () {
                    $("html,body").stop().animate({
                        scrollTop: 0
                    });
                })
            },
            initPage() {
                var pagesize = 50;
                var total = $(".total:eq(0)").text();
                var pages = Math.ceil(total / pagesize);
                var urlPage = this.getQueryVariable("page")
                if (total > 0) {
                    laypage({
                        cont: document.getElementById('pages'),
                        pages: pages,
                        curr: function () {
                            var page = location.search.match(/page=(\d+)/);
                            return page ? page [1] : 1;
                        }(),
                        jump: function (e, first) {
                            if (!first) {
                                if (urlPage) {
                                    location.href = location.href.replace(`&page=${urlPage}`, `&page=${e.curr}`)
                                } else {
                                    location.href = location.href + "&page=" + e.curr
                                }
                            }
                        },
                        groups: 3
                    });
                }
            }
        }
    })
</script>
</html>
